/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

/* Variaveis */
$cor-base: #1177FF;
$cor-complementar: #FF5311;
$cor-base-escura: #0036B2;
$cor-preto: #171E26;
$cor-branco: #E4E8ED;
$border-1: 5px solid rgba(255, 255, 255, .4);
$shadow-1: 0 4px 8px 0 rgba(0, 0, 0, 0.2);